body {
    background-image: url("background.jpeg");
    background-size: cover;
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 0, 255, 0.15);
    max-width: 30%;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
 
}
p {
    color: white;
    font-size: 20px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color:aquamarine
}

button {
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

